<div id="<%= dom_id webrealestate %>">
  <p>
    <strong>Status:</strong>
    <%= webrealestate.status %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= webrealestate.webrstype %>
  </p>
  <p>
    <strong>Operation:</strong>
    <%= webrealestate.operation %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= webrealestate.price %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= webrealestate.address %>
  </p>
  <p>
    <strong>Surface:</strong>
    <%= webrealestate.surface %>
  </p>
  <p>
    <strong>Bedrooms:</strong>
    <%= webrealestate.bedrooms %>
  </p>
  <p>
    <strong>Terrace:</strong>
    <%= webrealestate.terrace %>
  </p>
  <p>
    <strong>Lift:</strong>
    <%= webrealestate.lift %>
  </p>
  <p>
    <strong>Owner:</strong>
    <%= webrealestate.owner %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= webrealestate.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= webrealestate.phone %>
  </p>
</div>
