<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Panell de control</h2>
        <span class="ipn-subtitle">El teu espai</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="simple-sidebar sm-sidebar" id="filter_search">
          <div class="search-sidebar_header">
            <h4 class="ssh_heading">Close Filter</h4>
            <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
          </div>
          <div class="sidebar-widgets">
            <div class="dashboard-navbar">
              <div class="d-user-avater">
                <%= image_tag(current_user.avatar, class: "img-fluid avatar") if current_user.avatar.attached? %>
                <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
                <span><%= current_user.email %></span>
              </div>
              <div class="d-navigation">
                <ul>
                  <li class="active"><a href="dashboard.html"><i class="fas fa-chart-line"></i> Control de panel</a></li>
                  <li>
                    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                      <i class="fas fa-user"></i> El meu compte
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="fas fa-unlock-alt"></i> Canviar contrasenya
                    <% end %>
                  </li>
                  <li>
                    <a href="#interested-owners"><i class="fas fa-laptop-house"></i> Propietaris interessats</a>
                  </li>
                  <li>
                    <%= link_to edit_title_path(@title) do %>
                      <i class="fas fa-tasks"></i> Modificar texts/banner
                    <% end %>
                  </li>
                  <% if user_signed_in? && current_user.admin? %>
                    <li>
                      <%= link_to sidekiq_web_path, target: "_blank" do %>
                        <i class="fas fa-network-wired"></i> Sidekiq
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <!-- Dashboard wrapper 1 -->
        <div class="dashboard-wraper mb-3">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
              <h4>Tria els immobles <span class="pc-title theme-cl">destacats</span></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="checkbox-image mb-3">
                <%= form_tag set_featured_realestates_path, method: :patch do %>
                  <ul>
                    <% @realestates.each do |realestate| %>
                      <li>
                        <%= check_box_tag "fr[]", realestate.id, realestate.featured, id: "fr_#{realestate.id}" %>
                        <label for="fr_<%= realestate.id %>">
                          <%= image_tag(realestate.images.first.url) if realestate.images.first.present? %>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                  <div>
                    <%= submit_tag "Actualitzar", class: "btn btn-theme-light-2 rounded" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- Dashboard wrapper 2 -->
        <div class="dashboard-wraper mb-3" id="interested-owners">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4>Els immobles afegits <span class="pc-title theme-cl">a la pàgina web</span> </h4>
              <h6>(Contactar amb el propietari)</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="mb-3 d-flex flex-wrap">
                <% @webrealestates.each do |webrealestate| %>
                  <% if webrealestate.photos.attached? %>
                    <div class="card me-3 mb-3" style="width: 18rem;">
                      <%= cl_image_tag webrealestate.photos.first.key, class:"card-img-top" %>
                      <div class="card-body">
                        <h5 class="card-title"><%= webrealestate.status %></h5>
                        <p class="card-text"><%= webrealestate.address %></p>
                        <p class="card-text"><%= webrealestate.owner %></p>
                        <p class="card-text"><%= webrealestate.email %></p>
                        <p class="card-text"><%= webrealestate.phone %></p>
                        <%= link_to "Mes detalls", webrealestate, class: "btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </ul>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
