<!-- ============================ Hero Banner  Start================================== -->
<div class="hero-banner video-banner">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="<%= cl_video_path @title.video.key, height: 300, crop: :fill %>" type="video/mp4">
  </video>
  <%= cl_image_path @title.video.key, height: 300, crop: :fill %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-11 col-sm-12">
        <div class="inner-banner-text text-center">
          <p class="lead-i text-white">
            <%= @title.bheader1_ca %>
            <span class="badge badge-success">
              <%= @title.bbutton_ca %></span></p>
          <h2><span class="font-normal text-white"><%= @title.bheader2_ca %></span> <span data-controller="typed-js" data-typed-js-typedtext-value="<%= @typedtext %>"></span></h2>
        </div>
        <div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
          <div class="hero-search-content">
            <%= form_with url: realestates_path, method: :get do |form| %>
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 b-r">
                  <div class="form-group">
                    <div class="choose-propert-type">
                      <ul>
                        <li>
                          <input id="cp-1" class="checkbox-custom" name="op" type="radio" value="Comprar" checked>
                          <label for="cp-1" class="checkbox-custom-label">Comprar</label>
                        </li>
                        <li>
                          <input id="cp-2" class="checkbox-custom" name="op" type="radio" value="Llogar">
                          <label for="cp-2" class="checkbox-custom-label">Llogar</label>
                        </li>
                        <li>
                          <input id="cp-3" class="checkbox-custom" name="op" type="radio"  value="Vacances">
                          <label for="cp-3" class="checkbox-custom-label">Vacances</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-12 p-0 elio">
                  <div class="form-group">
                    <div class="input-with-icon">
                      <select name="m" id="town" class="form-control">
                        <option value="">&nbsp;</option>
                        <% @town_names.each do |town| %>
                          <option value="<%= town %>"><%= town %></option>
                        <% end %>
                      </select>
                      <i class="fas fa-location-dot"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                  <div class="form-group">
                    <button type="submit" class="btn search-btn black" data-turbo="false">Cercar</button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ================= Explore Property ================= -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Immobles Destacats</h2>
          <p>Aquest és el nostre aparador: aquí trobaràs els immobles destacats aquesta setmana de Sistach Finques. Cada setmana seleccionem els immobles que destaquen pel preu, singularitat o serien una bona inversió.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Featured Properties -->
      <% @featured_realestates.each do |realestate| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="property-listing property-2">
            <div class="listing-img-wrapper">
              <div class="list-img-slide">
                <div class="click">
                  <% if realestate.images.present? %>
                    <% realestate.images.each do |image| %>
                      <%= link_to realestate do %>
                        <div>
                          <img src="<%= image.url %>" class="img-fluid mx-auto" alt="<%= realestate.title %> foto" />
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= link_to realestate do %>
              <div class="listing-detail-wrapper">
                <div class="listing-short-detail-wrap">
                  <div class="listing-short-detail">
                    <span class="property-type"><%= realestate.salesprice.present? ? "En Venda" : "En lloguer" %></span>
                  </div>
                  <div class="listing-short-detail-flex">
                    <% if realestate.salesprice.present? || realestate.rentprice.present? %>
                      <h6 class="listing-card-info-price"><%= number_to_currency(realestate.salesprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ') || number_to_currency(realestate.rentprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ') %></h6>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="listing-detail-wrapper">
                <h4 class="listing-name verified">
                  <%= realestate.title || "#{realestate.rstype if realestate.rstype.present?} a #{realestate.town_name if realestate.town_name.present?}" %>
                </h4>
              </div>
              <div class="price-features-wrapper">
                <div class="list-fx-features">
                  <% if realestate.features.find_by(name: "Nº de dormitorios").present? %>
                    <div class="listing-card-info-icon">
                      <div class="inc-fleat-icon">
                        <i class="fas fa-bed"></i>
                      </div>
                      <%= realestate.features.find_by(name: "Nº de dormitorios").value  %> hab.
                    </div>
                  <% end %>
                  <% if realestate.features.find_by(name: "Nº de baños").present? %>
                    <div class="listing-card-info-icon">
                      <div class="inc-fleat-icon">
                        <i class="fas fa-bath"></i>
                      </div>
                      <%= realestate.features.find_by(name: "Nº de baños").value  %> banys
                    </div>
                  <% end %>
                  <% if realestate.csurface.present? %>
                    <div class="listing-card-info-icon">
                      <div class="inc-fleat-icon">
                        <i class="fas fa-compress"></i>
                      </div>
                      <%= realestate.csurface.round %> m²
                    </div>
                  <% elsif realestate.usurface.present? %>
                    <div class="listing-card-info-icon">
                      <div class="inc-fleat-icon">
                        <i class="fas fa-compress"></i>
                      </div>
                      <%= realestate.usurface.round %> m²
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="listing-detail-footer">
              <div class="footer-first">
                <div class="foot-location">
                  <i class="fas fa-location-dot text-secondary"></i>
                  <span class="ms-1">
                    <%= realestate.short_address %>
                  </span>
                </div>
              </div>
              <div class="footer-flex">
                <%= link_to "Més detalls", realestate, class: "prt-view" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- End Featured Properties-->
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <%= link_to "Veure més immobles", realestates_path, class: "btn btn-theme-light-2 rounded" %>
      </div>
    </div>
  </div>
</section>
<!-- ================================= Explore Property =============================== -->
<!-- ============================ Property Location Start ================================== -->
<section class="bg-light d-lg-block d-md-block d-sm-none">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Buscar per ubicació</h2>
          <p>Fes clic sobre la foto del municipi per veure els immobles.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <% @all_towns.each do |town| %>
        <div class="col-lg-4 col-md-4">
          <div class="location-property-wrap">
            <div class="location-property-thumb">
              <% if town.photo.attached? %>
                <%= link_to realestates_path(m: town.name) do %>
                  <%= cl_image_tag town.photo.key, height: 200, width: 354, crop: :fill, class: "img-fluid", alt: town.name %>
                <% end %>
              <% else %>
                <%= link_to realestates_path(m: town.name) do %>
                  <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" />
                <% end %>
              <% end %>
            </div>
            <div class="location-property-content">
              <div class="lp-content-flex">
                <h4 class="lp-content-title"><%= town.name %></h4>
                <% if town.realestates.count == 1 %>
                  <span> <%= town.realestates.count %> immoble </span>
                <% else %>
                  <span> <%= town.realestates.count %> immobles </span>
                <% end %>
              </div>
              <div class="lp-content-right">
                <%= link_to realestates_path(m: town.name), class: "lp-property-view" do %>
                  <i class="fas fa-caret-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a href="listings-list-with-sidebar.html" class="btn btn-theme-light rounded">Mostrar més ubicacions</a>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Property Location End ================================== -->
<!-- ============================ Smart Testimonials ================================== -->
<section class="bg-orange">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Comentaris dels nostres clients</h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="smart-textimonials smart-center" id="smart-textimonials">
          <% if @reviews.present? %>
            <% @reviews.each do |review| %>
              <!-- Single Item -->
              <div class="item">
                <div class="item-box">
                  <div class="smart-tes-author">
                    <div class="st-author-box">
                      <div class="st-stars">
                        <% review.rating.times do %>
                          <i class="fas fa-star yellow-icon"></i>
                        <% end %>
                        <% (5 - review.rating).times do %>
                          <i class="far fa-star yellow-icon"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="smart-tes-content">
                    <p><%= review.content %></p>
                  </div>
                  <div class="st-author-info">
                    <h4 class="st-author-title"><%= review.author %></h4>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Smart Testimonials End ================================== -->
