<div class="row justify-content-center">
  <div class="col-lg-12 col-md-12">
    <div class="item-shorting-box">
      <div class="item-shorting clearfix">
        <div class="left-column pull-left">
          <h4 class="m-0">Trobat 1-10 de 42 resultats</h4>
          <%= @pagy.items %>
          <%= @pagy.params[:page] %>
        </div>
      </div>
      <div class="item-shorting-box-right">
        <ul class="shorting-list">
          <li>
            <%= link_to index_map_realestates_path, target: "_blank" do %>
              <i class="fas fa-map-marked"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-----------------------------Filter----------------------------->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="sty_1523">
      <div class="_mp_filter center mb-3">
        <div class="_mp_filter_first">
          <div class="filter_list_item">
            <div class="selected_item_wrap">
              <div class="slt_single_item"><a href="#" class="remove_pills"><span class="pills_tex">2 Beds</span><span class="remove_cross"></span></a></div>
              <div class="slt_single_item"><a href="#" class="remove_pills"><span class="pills_tex">2 Baths</span><span class="remove_cross"></span></a></div>
              <div class="slt_single_item"><a href="#" class="remove_pills"><span class="pills_tex">Garage</span><span class="remove_cross"></span></a></div>
              <div class="slt_single_item"><a href="#" class="remove_pills"><span class="pills_tex">2 More</span></a></div>
              <div class="slt_single_item"><a href="#" class="clear_pills"><span class="pills_clears">Clear All</span></a></div>
            </div>
          </div>
        </div>
        <div class="_mp_filter_last">
          <% if params[:d] == 'asc' %>
            <%= link_to request.params.except(:page).merge(c: :salesprice, d: 'desc'), class: "map_filter min" do %>
              <i class="fa fa-caret-down mr-2"></i>Ordenar per preu x
            <% end %>
          <% elsif params[:d] == 'desc' %>
            <%= link_to request.params.except(:page).merge(c: :salesprice, d: 'asc'), class: "map_filter min" do %>
              <i class="fa fa-caret-up mr-2"></i>Ordenar per preu x
            <% end %>
          <% else %>
            <%= link_to request.params.except(:page).merge(c: :salesprice, d: 'asc'), class: "map_filter min" do %>
              <i class="fa fa-caret-up mr-2"></i>Ordenar per preu x
            <% end %>
          <% end %>
          <a href="#" class="map_filter min" data-bs-toggle="modal" data-bs-target="#filter"><i class="fa fa-sliders-h mr-2"></i>Short Filter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-----------------------------End Filter----------------------------->
<!-- Tots els immobles -->
<div class="row">
  <% realestates.each do |realestate| %>
    <%= render realestate %>
  <% end %>
</div>
<!-- End Tots els immobles -->
<!-- Pagination -->
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<!-- End Pagination -->
