			<!-- ============================ Hero Banner  Start==================================


<div data-controller="lightbox" class="featured_slick_gallery">
  <% @realestate.images.each do |image| %>
    <%= image_tag image.url, class: "mfp-gallery", data: { src: image.url, sub_html: "text" } %>

  <% end %>
</div>

-->
<%# #{image.@realestate.rstype} - #{image.@realestate.town} %>
<%# #{image.@realestate.namestreet} %>
<div class="listing-img-wrapper">
  <div class="single-advance-property gray">
    <% if @realestate.images.present? %>
      <% @realestate.images.each do |image| %>
        <%= link_to image.url, class: "mfp-gallery" do %>
          <%= image_tag image.url, class: "img-fluid mx-auto", alt:"#{@realestate.rstype} #{@realestate.town_name}" %>
        <% end %>
      <% end %>
    <% elsif @realestate.photos.attached? %>
      <% @realestate.photos.each do |photo| %>
        <%= link_to photo.key, class: "mfp-gallery" do %>
          <%= cl_image_tag photo.key, class: "img-fluid mx-auto", alt: "#{@realestate.rstype} #{@realestate.town_name}" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<!--
      <div class="featured-slick-gallery gray">
				<div>

          <% @realestate.images.each do |image| %>
            <div class="featured-slick-padd">
              <%= link_to image.url, class: "mfp-gallery" do %>
                <%= image_tag image.url, class: "img-fluid mx-auto", alt:"#{@realestate.rstype} #{@realestate.town}" %>
              <% end %>
            </div>
          <% end %>
-->
<!--
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
				</div>
				<a href="JavaScript:Void(0);" class="btn-view-pic">Veure fotos</a>
			</div>
      -->
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Hero Banner  Start==================================
			<div class="featured-slick-gallery gray">
				<div class="featured-slick-gallery-slide">
					<div class="featured-slick-padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured-slick-padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured-slick-padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured-slick-padd"><a href="https://via.placeholder.com/1200x800" class="mfp-gallery"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
				</div>
				<a href="JavaScript:Void(0);" class="btn-view-pic">View photos</a>
			</div>
-->
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Property Detail Start ================================== -->
<section class="gray-simple">
  <div class="container">
    <div class="row">
      <!-- property main detail -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="property_block_wrap style-2 p-4">
          <div class="prt-detail-title-desc">
            <span class="prt-types sale"><%= @realestate.salesprice.present? ? "En Venda" : "En lloguer" %></span>
            <h3> <%= @realestate.title.present? ? @realestate.title : "#{@realestate.rstype} a #{@realestate.town_name}" %> </h3>
            <span><i class="fas fa-location-dot text-secondary"></i></i> <%= @realestate.short_address %> </span>
          <h3 class="prt-price-fix">
            <% if @realestate.salesprice.present? %>
              <%= number_to_currency(@realestate.salesprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ')  %>
            <% elsif @realestate.rentprice.present? %>
              <% number_to_currency(@realestate.rentprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ') %>
            <% end %>
          </h3>
          <div class="list-fx-features">
            <% if @realestate.features.find_by(name: "Nº de dormitorios").present? %>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><i class="fas fa-bed"></i></div>
                <%= @realestate.features.find_by(name: "Nº de dormitorios").value %> hab.
              </div>
            <% end %>
            <% if @realestate.features.find_by(name: "Nº de baños").present? %>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><i class="fas fa-bath"></i></div>
                <%= @realestate.features.find_by(name: "Nº de baños").value  %> banys
              </div>
            <% end %>
            <% if @realestate.csurface.present? %>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon">
                  <i class="fas fa-compress"></i>
                </div>
                <%= @realestate.csurface.round %> m²
              </div>
            <% elsif @realestate.usurface.present? %>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon">
                  <i class="fas fa-compress"></i>
                </div>
                <%= @realestate.usurface.round %> m²
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Single Block Wrap -->
      <div class="property_block_wrap style-2">
        <div class="property_block_wrap_header">
          <a data-bs-toggle="collapse" data-parent="#features" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="false">
            <h4 class="property_block_title">Dormitoris i banys</h4>
          </a>
        </div>
        <div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne" aria-expanded="true">
          <div class="block-body">
            <ul class="deatil_features">
              <% @realestate.features.where("name ILIKE ?", "%dormit%").each do |feature| %>
                <% if feature.value.present? && feature.value != " No disponible " %>
                  <li><strong> <%= feature.name %> </strong> <%= feature.value %> </li>
                <% end %>
              <% end %>
              <% @realestate.features.where("name ILIKE ?", "%baño%").each do |feature| %>
                <% if feature.value.present? && feature.value != " No disponible "  %>
                  <li><strong> <%= feature.name %> </strong> <%= feature.value %> </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Block Wrap -->
      <div class="property_block_wrap style-2">
        <div class="property_block_wrap_header">
          <a data-bs-toggle="collapse" data-parent="#features" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="false">
            <h4 class="property_block_title">Caracteristiques</h4>
          </a>
        </div>
        <div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne" aria-expanded="true">
          <div class="block-body">
            <ul class="deatil_features">
              <% @realestate.features.where.not("name ILIKE ANY (array[?])", ["%dormit%", "%baño%"]).where.not("value ILIKE ANY (array[?])",["Si", "%No disponible%"]).each do |feature| %>
                <% if feature.value.present? %>
                  <li><strong> <%= feature.name %> </strong> <%= feature.value %> </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Block Wrap -->
      <div class="property_block_wrap style-2">
        <div class="property_block_wrap_header">
          <a data-bs-toggle="collapse" data-parent="#dsrp" data-bs-target="#clTwo" aria-controls="clTwo" href="javascript:void(0);" aria-expanded="true">
            <h4 class="property_block_title">Descripció</h4>
          </a>
        </div>
        <div id="clTwo" class="panel-collapse collapse show" aria-expanded="true">
          <div class="block-body">
            <p><%= @realestate.ad  %></p>
          </div>
        </div>
      </div>
      <!-- Single Block Wrap -->
      <% if @realestate.features.where("value ILIKE ?", "Si").present? %>
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-parent="#amen"  data-bs-target="#clThree" aria-controls="clThree" href="javascript:void(0);" aria-expanded="true">
              <h4 class="property_block_title">Equipament</h4>
            </a>
          </div>
          <div id="clThree" class="panel-collapse collapse show" aria-expanded="true">
            <div class="block-body">
              <ul class="avl-features third color">
                <% @realestate.features.where("value ILIKE ?", "Si").each do |feature| %>
                  <li><%= feature.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Single Block Wrap
      <%# if @realestate.video %>
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-parent="#vid"  data-bs-target="#clFour" aria-controls="clFour" href="javascript:void(0);" aria-expanded="true" class="collapsed">
              <h4 class="property_block_title">Video de l'immoble</h4>
            </a>
          </div>
          <div id="clFour" class="panel-collapse collapse" aria-expanded="true">
            <div class="block-body">
              <div class="property_video">
                <div class="thumb">
                  <img class="pro_img img-fluid w100" src="https://via.placeholder.com/1200x800" alt="7.jpg">
                  <div class="overlay_icon">
                    <div class="bb-video-box">
                      <div class="bb-video-box-inner">
                        <div class="bb-video-box-innerup">
                          <a href="https://www.youtube.com/watch?v=A8EI6JaFbv4" data-bs-toggle="modal" data-bs-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%# end %>
      -->
      <!-- Single Block Wrap
      <%# if @realestate.floorplan %>
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-parent="#floor"  data-bs-target="#clFive" aria-controls="clFive" href="javascript:void(0);" aria-expanded="true" class="collapsed">
              <h4 class="property_block_title">Planol de l'immoble</h4>
            </a>
          </div>
          <div id="clFive" class="panel-collapse collapse" aria-expanded="true">
            <div class="block-body">
              <div class="accordion" id="floor-option">
                <div class="card">
                  <div class="card-header" id="firstFloor">
                    <h2 class="mb-0">
                      <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#firstfloor" aria-controls="firstfloor">First Floor<span>740 sq ft</span></button>
                    </h2>
                  </div>
                  <div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
                    <div class="card-body">
                      <img src="assets/img/floor.jpg" class="img-fluid" alt="" />
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="seconfFloor">
                    <h2 class="mb-0">
                      <button type="button" class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#secondfloor" aria-controls="secondfloor">Second Floor<span>710 sq ft</span></button>
                    </h2>
                  </div>
                  <div id="secondfloor" class="collapse" aria-labelledby="seconfFloor" data-parent="#floor-option">
                    <div class="card-body">
                      <img src="assets/img/floor.jpg" class="img-fluid" alt="" />
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="third-garage">
                    <h2 class="mb-0">
                      <button type="button" class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#garages" aria-controls="garages">Garage<span>520 sq ft</span></button>
                    </h2>
                  </div>
                  <div id="garages" class="collapse" aria-labelledby="third-garage" data-parent="#floor-option">
                    <div class="card-body">
                      <img src="assets/img/floor.jpg" class="img-fluid" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%# end %>
      -->
      <!-- Single Block Wrap -->
      <% if @realestate.latitude.present? %>
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-parent="#loca"  data-bs-target="#clSix" aria-controls="clSix" href="javascript:void(0);" aria-expanded="true" class="collapsed">
              <h4 class="property_block_title">Mapa</h4>
            </a>
          </div>
          <div id="clSix" class="panel-collapse collapse show" aria-expanded="true">
            <!--<div class="block-body">-->
            <div style="width: 100%; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            <!--</div>-->
          </div>
        </div>
      <% end %>
      <!-- Single Block Wrap -->
      <div class="property_block_wrap style-2">
        <div class="property_block_wrap_header">
          <a data-bs-toggle="collapse" data-parent="#clSev"  data-bs-target="#clSev" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true" class="collapsed">
            <h4 class="property_block_title">Fotos</h4>
          </a>
        </div>
        <div id="clSev" class="panel-collapse collapse show" aria-expanded="true">
          <div class="block-body">
            <ul class="list-gallery-inline">
              <% if @realestate.images.present? %>
                <% @realestate.images.each do |image| %>
                  <li>
                    <%= link_to image.url, class: "mfp-gallery" do %>
                      <%= image_tag image.url, class: "img-fluid mx-auto", alt: "#{@realestate.rstype} #{@realestate.town}" %>
                    <% end %>
                  </li>
                <% end %>
              <% elsif @realestate.photos.attached? %>
                <% @realestate.photos.each do |photo| %>
                  <li>
                    <%= link_to photo.key, class: "mfp-gallery" do %>
                      <%= cl_image_tag photo.key, class: "img-fluid mx-auto", alt: "#{@realestate.rstype} #{@realestate.town_name}" %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Block Wrap -->
      <div class="property_block_wrap style-2">
        <div class="property_block_wrap_header">
          <a data-bs-toggle="collapse" data-parent="#nearby" data-bs-target="#clNine" aria-controls="clNine" href="javascript:void(0);" aria-expanded="true">
            <h4 class="property_block_title">Aprop de <%= @realestate.title.present? ? @realestate.title : "#{@realestate.rstype} a #{@realestate.town.name}" %></h4>
          </a>
          <div class="nearby_header_last">
            <div class="nearby_powerd">
              <span class="post-date">Resultats de Google Maps <i class="fab fa-google"></i></span>
            </div>
          </div>
        </div>
        <div id="clNine" class="panel-collapse collapse show" aria-expanded="true">
          <div class="block-body">
            <!-- Schools -->
            <div class="nearby-wrap">
              <div class="nearby_header">
                <div class="nearby_header_first">
                  <h5>Escoles aprop</h5>
                </div>
              </div>
              <div class="neary_section_list">
                <% if @schools.present? %>
                  <% @schools.each do |school| %>
                    <div class="neary_section">
                      <div class="neary_section_first">
                        <h4 class="nearby_place_title"><%= school.name %> <small>(<%= school.vicinity %>)</small></h4>
                      </div>
                      <div class="neary_section_last">
                        <div class="nearby_place_rate">
                          <div class="st-stars">
                            <%= school.rating.to_i < school.rating if school.rating.present? %>
                            <% if school.rating.present? %>
                              <% school.rating.to_i.times do %>
                                <i class="fas fa-star text-warning"></i>
                              <% end %>
                              <% if school.rating > school.rating.to_i %>
                                <i class="fas fa-star-half-alt text-warning"></i>
                              <% end %>
                              <% if school.rating.to_i < 4 && school.rating > school.rating.to_i %>
                                <% (4 - school.rating.to_i).times do %>
                                  <i class="far fa-star text-warning"></i>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <small class="reviews-count"><%= "(#{school.rating})" if school.rating.present? %></small>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <!-- Hotel & Restaurant -->
            <div class="nearby-wrap">
              <div class="nearby_header">
                <div class="nearby_header_first">
                  <h5>Restaurants aprop</h5>
                </div>
              </div>
              <div class="neary_section_list">
                <% if @restaurants.present? %>
                  <% @restaurants.each do |restaurant| %>
                    <div class="neary_section">
                      <div class="neary_section_first">
                        <h4 class="nearby_place_title"><%= restaurant.name %> <small>(<%= restaurant.vicinity %>)</small></h4>
                      </div>
                      <div class="neary_section_last">
                        <div class="nearby_place_rate">
                          <div class="st-stars">
                            <%= restaurant.rating.to_i < restaurant.rating if restaurant.rating.present? %>
                            <% if restaurant.rating.present? %>
                              <% restaurant.rating.to_i.times do %>
                                <i class="fas fa-star text-warning"></i>
                              <% end %>
                              <% if restaurant.rating > restaurant.rating.to_i %>
                                <i class="fas fa-star-half-alt text-warning"></i>
                              <% end %>
                              <% if restaurant.rating.to_i < 4 && restaurant.rating > restaurant.rating.to_i %>
                                <% (4 - restaurant.rating.to_i).times do %>
                                  <i class="far fa-star text-warning"></i>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <small class="reviews-count"><%= "(#{restaurant.rating})" if restaurant.rating.present? %></small>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- property Sidebar -->
    <div class="col-lg-4 col-md-12 col-sm-12">
      <!-- Like And Share -->
      <div class="like_share_wrap b-0">
        <ul class="like_share_list">
          <li><a href="JavaScript:Void(0);" class="btn btn-likes" data-toggle="tooltip" data-original-title="Share"><i class="fas fa-share"></i>Compartir</a></li>
          <li><a href="JavaScript:Void(0);" class="btn btn-likes" data-toggle="tooltip" data-original-title="Save"><i class="fas fa-heart"></i>Guardar</a></li>
        </ul>
      </div>
      <div class="details-sidebar">
        <!-- Agent Detail -->
        <div class="sides-widget">
          <div class="sides-widget-header">
            <div class="agent-photo"><%= image_tag("https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/sistach_favicon_c9rb1y.png", alt: "Sistach Finques") %></div>
            <div class="sides-widget-details">
              <h4><a href="#">Sistach Finques</a></h4>
              <span><i class="lni-phone-handset"></i>972 100 381</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="sides-widget-body simple-form">
            <%= render partial: "contacts/form" %>
          </div>
        </div>
        <!-- Mortgage Calculator -->
        <div class="sides-widget">
          <div class="sides-widget-header">
            <div class="sides-widget-details">
              <h4>Calcul·la la teva hipoteca</h4>
              <span>Quan pagaràs cada mes</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="sides-widget-body simple-form">
            <div class="form-group">
              <div class="input-with-icon">
                <input type="text" class="form-control" value="<%= number_to_currency(@realestate.salesprice, unit: "€", separator: ",", delimiter: ".", precision: 0) %>">
                <i class="ti-money"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="input-with-icon">
                <input type="text" class="form-control" placeholder="Entrada">
                <i class="ti-money"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="input-with-icon">
                <input type="text" class="form-control" placeholder="Termini en anys">
                <i class="ti-calendar"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="input-with-icon">
                <input type="text" class="form-control" placeholder="Tipus d'interés">
                <i class="fa fa-percent"></i>
              </div>
            </div>
            <button class="btn btn-black btn-md rounded full-width">Calcul·lar</button>
          </div>
        </div>
        <!-- Featured Property -->
        <div class="sidebar-widgets">
          <h4>Immobles destacats</h4>
          <div class="sidebar_featured_property">
            <% @featured_realestates.each do |realestate| %>
              <!-- List Sibar Property -->
              <div class="sides_list_property">
                <div class="sides_list_property_thumb">
                  <img src="<%= realestate.images.first.url %>" class="img-fluid" alt="<%= realestate.title %> foto" />
                </div>
                <div class="sides_list_property_detail">
                  <h4><%= link_to realestate.title.present? ? realestate.title : "#{realestate.rstype} a #{realestate.town_name}", realestate %></h4>
                  <span><i class="fas fa-location-dot"></i><%= realestate.short_address %></span>
                  <div class="lists_property_price">
                    <div class="lists_property_types">
                      <div class="property_types_vlix sale"><%= realestate.salesprice.present? ? "En Venda" : "En lloguer" %></div>
                    </div>
                    <div class="lists_property_price_value">
                      <h4><%= number_to_currency(realestate.salesprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ') || number_to_currency(realestate.rentprice, unit: "€", separator: ",", delimiter: ".", precision: 0).delete(' ') %></h4>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- ============================ Property Detail End ================================== -->
