  <%= simple_form_for @post, data: {turbo: false} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :title_ca %>
    <%= f.input :author %>
    <%= f.input :content_ca, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_es, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_en, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_fr, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :photo, as: :file, input_html: { class: "form-control-photo" }  %>
    <%= f.association :category %>
  </div>
  <div class="form-actions mb-3">
    <%= f.button :submit, value: "Save", class: "btn btn-black btn-md rounded full-width" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: "Save translations", class: "btn btn-secondary btn-md rounded full-width" %>
  </div>
<% end %>
