<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Noticia</h2>
        <span class="ipn-subtitle"><%= @post.title_ca %></span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency List Start ================================== -->
<section class="gray-simple">
  <div class="container">
    <!-- row Start -->
    <div class="row">
      <!-- Blog Detail -->
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="blog-details single-post-item format-standard">
          <div class="post-details">
            <div class="post-featured-img">
              <%= cl_image_tag @post.photo.key, width: 700, height: 500, crop: :fill, class: "img-fluid", alt: "#{@post.title_ca}" if @post.photo.key.present?  %>
            </div>
            <div class="post-top-meta">
              <ul class="meta-comment-tag">
                <li><span class="icons"><i class="fas fa-user-edit"></i></span> <%= @post.author %></li>
                <li><%= link_to edit_post_path(@post) do %>
                    <span class="icons"><i class="fas fa-edit"></i></span> Modificar article
                  <% end %></li>
                |
                <li><%= link_to posts_path do %>
                    <span class="icons"><i class="far fa-newspaper"></i></span> Tots els articles
                  <% end %></li>
                <li><%# button_to "Destroy this post", @post, method: :delete, class: "link" %></li>
              </ul>
            </div>
            <h2 class="post-title"> <%= @post.title_ca %> </h2>
            <p> <%= sanitize @post.content_ca %> </p>
            <div class="post-bottom-meta">
              <div class="post-tags">
                <ul class="list">
                  <li> <%= link_to @post.category.name, @post.category if @post.category.present? %>
                  </li>
                </ul>
              </div>
              <div class="post-share">
                <h4 class="pbm-title">Compartir</h4>
                <ul class="list">
                  <%= social_share_button_tag(@post.title_ca, :url => "#{request.original_url}") %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Author Detail
        <div class="blog-details single-post-item format-standard">
          <div class="posts-author">
            <span class="img"><img class="img-fluid" src="https://via.placeholder.com/400x400" alt=""></span>
            <h3 class="pa-name">Rosalina William</h3>
            <ul class="social-links">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-behance"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <p class="pa-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          </div>
        </div>
        -->
        <!-- Blog Comment
        <div class="blog-details single-post-item format-standard">
          <div class="comment-area">
            <div class="all-comments">
              <h3 class="comments-title">05 Comments</h3>
              <div class="comment-list">
                <ul>
                  <li class="single-comment">
                    <article>
                      <div class="comment-author">
                        <img src="https://via.placeholder.com/400x400" alt="">
                      </div>
                      <div class="comment-details">
                        <div class="comment-meta">
                          <div class="comment-left-meta">
                            <h4 class="author-name">Rosalina Kelian <span class="selected"><i class="fas fa-bookmark"></i></span></h4>
                            <div class="comment-date">19th May 2018</div>
                          </div>
                          <div class="comment-reply">
                            <a href="#" class="reply"><span class="icona"><i class="ti-back-left"></i></span> Reply</a>
                          </div>
                        </div>
                        <div class="comment-text">
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                            perspiciatis unde omnis iste natus error.</p>
                        </div>
                      </div>
                    </article>
                    <ul class="children">
                      <li class="single-comment">
                        <article>
                          <div class="comment-author">
                            <img src="https://via.placeholder.com/400x400" alt="">
                          </div>
                          <div class="comment-details">
                            <div class="comment-meta">
                              <div class="comment-left-meta">
                                <h4 class="author-name">Rosalina Kelian</h4>
                                <div class="comment-date">19th May 2018</div>
                              </div>
                              <div class="comment-reply">
                                <a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> Reply</a>
                              </div>
                            </div>
                            <div class="comment-text">
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                                perspiciatis unde omnis iste natus error.</p>
                            </div>
                          </div>
                        </article>
                        <ul class="children">
                          <li class="single-comment">
                            <article>
                              <div class="comment-author">
                                <img src="https://via.placeholder.com/400x400" alt="">
                              </div>
                              <div class="comment-details">
                                <div class="comment-meta">
                                  <div class="comment-left-meta">
                                    <h4 class="author-name">Rosalina Kelian</h4>
                                    <div class="comment-date">19th May 2018</div>
                                  </div>
                                  <div class="comment-reply">
                                    <a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> Reply</a>
                                  </div>
                                </div>
                                <div class="comment-text">
                                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                                    perspiciatis unde omnis iste natus error.</p>
                                </div>
                              </div>
                            </article>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="single-comment">
                    <article>
                      <div class="comment-author">
                        <img src="https://via.placeholder.com/400x400" alt="">
                      </div>
                      <div class="comment-details">
                        <div class="comment-meta">
                          <div class="comment-left-meta">
                            <h4 class="author-name">Rosalina Kelian</h4>
                            <div class="comment-date">19th May 2018</div>
                          </div>
                          <div class="comment-reply">
                            <a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> Reply</a>
                          </div>
                        </div>
                        <div class="comment-text">
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                            perspiciatis unde omnis iste natus error.</p>
                        </div>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
            </div>
            <div class="comment-box submit-form">
              <h3 class="reply-title">Post Comment</h3>
              <div class="comment-form">
                <form action="#">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <textarea name="comment" class="form-control" cols="30" rows="6" placeholder="Type your comments...."></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <a href="#" class="btn btn-theme-light-2 rounded full-width">Submit Now</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
      <!-- Single blog Grid -->
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <!-- Searchbard -->
        <div class="single-widgets widget_search">
          <h4 class="title">Buscar articles</h4>
          <form action="#" class="sidebar-search-form">
            <input type="search" name="search" placeholder="Buscar..">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <!-- Author -->
        <div class="single-widgets widget-category">
          <div class="posts-author">
            <span class="img"><%= cl_image_tag @post.user.avatar.key, class: "img-fluid" %></span>
            <h3 class="pa-name"><%= @post.user.first_name if @post.user.first_name %> <%= @post.user.last_name if @post.user.last_name %></h3>
            <span>Agent especialitzat en Costa Brava</span>
            <ul class="social-links">
              <%= social_share_button_tag(@post.title_ca, :url => "#{request.original_url}") %>
            </ul>
            <p class="pa-text">El nostre equip de professionals està altament capacitat i sempre  disposat a ajudar a trobar el lloc perfecte per a casa o negoci. Contacta'ns avui mateix per obtenir més informació i programar una visita!</p>
          </div>
        </div>
        <!-- End Author -->
        <!-- Categories -->
        <div class="single-widgets widget_category">
          <ul>
            <% @categories.each do |category| %>
              <li class="d-flex justify-content-between">
                <%= link_to category.name, category %>
                <span><%= category.posts.count if category.posts.present? %></span>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- Trending Posts -->
        <div class="single-widgets widget_thumb_post">
          <h4 class="title">Articles populars</h4>
          <ul>
            <% @posts.each do |post| %>
              <li>
                <span class="left">
                  <%= cl_image_tag post.photo.key, crop: :fill, class: "img-fluid", alt: "#{post.title_ca}" if post.photo.key.present?  %>
                </span>
                <span class="right">
                  <%= link_to post.title_ca.truncate(45), post, class: "feed-title" %>
                  <span class="post-date"><i class="far fa-calendar-check"></i></i>Fa <%= Time.now.hour - post.updated_at.hour %> hores</span>
              </span>
            </li>
          <% end %>
        </ul>
        <!-- Tags Cloud
      <div class="single-widgets widget_tags">
        <h4 class="title">Tags Cloud</h4>
        <ul>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Branding</a></li>
          <li><a href="#">Music</a></li>
        </ul>
      </div>
      -->
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- ============================ Agency List End ================================== -->
