<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Contacta amb nosaltres</h2>
        <span class="ipn-subtitle">Cóm podem ajudar?</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency List Start ================================== -->
<section>
  <div class="container">
    <!-- row Start -->
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <%= form_for @contact do |f| %>
          <% if flash[:error].present? %>
            <p> flash[:error]</p>
          <% end %>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <%= f.label :name %> <br>
                <%= f.text_field :name, required: true, class: "form-control simple" %>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <%= f.label :email %> <br>
                <%= f.text_field :email, required: true, class: "form-control simple"  %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :message %> <br>
            <%= f.text_area :message, as: :text, class: "form-control simple"  %>
          </div>
          <div class="form-group">
            <%= f.label :nickname, class: "d-none"  %> <br>
            <%= f.text_field :nickname, hint: 'leave this field blank', class: "d-none" %>
          </div>
          <div class="form-group">
            <%= f.submit 'Enviar missatge', class: "btn btn-theme-light-2 rounded" %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="contact-info">
          <h2>Contacta amb nosaltres sense compromís.</h2>
          <p>Tenim un equip d'agents comercials que estan a la teva disposició.</p>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
              <div>
                <div class="cn-info-detail ">
                  <div >
                    <i class="fas fa-umbrella-beach"></i>
                  </div>
                  <div class="cn-info-content ps-3">
                    <h4 class="cn-info-title">Estartit</h4>
                    c/Esglesia 34, baixos<br>
                    17258 Estartit
                  </div>
                </div>
                <div class="cn-info-detail ">
                  <div >
                    <i class="fas fa-building"></i>
                  </div>
                  <div class="cn-info-content ps-3">
                    <h4 class="cn-info-title">Barcelona</h4>
                    c/Rosselló 439, baixos<br>
                    08025 Barcelona
                  </div>
                </div>
                <div class="cn-info-detail ">
                  <div >
                    <i class="fas fa-mountain"></i>
                  </div>
                  <div class="cn-info-content ps-3">
                    <h4 class="cn-info-title">Berga</h4>
                    c/Roser 1, 1-2<br>
                    08600 Berga
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <div>
                <div class="cn-info-detail">
                  <div >
                    <i class="fas fa-at"></i>
                  </div>
                  <div class="cn-info-content ps-3">
                    <h4 class="cn-info-title">Envia'ns un email</h4>
                    info@sistachfinques.com<br>
                    sistachfinques@gmail.com
                  </div>
                </div>
                <div class="cn-info-detail">
                  <div >
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                  <div class="cn-info-content ps-3">
                    <h4 class="cn-info-title">Truca'ns</h4>
                    +34 931 147 100<br>
                    +34 972 100 381
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- ============================ Agency List End ================================== -->
