<!DOCTYPE html>
<html>
  <head>
    <title>Immo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body class="blue-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- Activate Preloader when I make a js controller for it ==============================================================-->
    <%# <div id="preloader"><div class="preloader"><span></span><span></span></div></div> %>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%# render "shared/header" %>
      <%# render "shared/header_test" %>
      <%= yield %>
      <%= render "shared/call_to_action" %>
      <%= render "shared/footer" %>
      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
          ><i class="ti-arrow-up"></i
        ></a>
      <%= render "shared/log_in_modal" %>
      <%= render "shared/sign_up_modal" %>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
  </body>
</html>
